body{
  background: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT1jYU_Kc9kvFtT4vW79Iq3dV-QN5mzUXJCsA&usqp=CAU");
  font-family:monospace;
  text-align: center;
  margin: auto;
  color: white;
  font-size: 40px;
  padding-top: 20%;
}
h1{
  border: 30px double white;
  width: 70%;
  margin: auto;
  border-radius: 100px;
}
